.bfh-selectbox.bfh-countries{"data-country" => "US", "data-flags" => "true"}
  %input{:type => "hidden", :value => ""}/
  %a.bfh-selectbox-toggle{"data-toggle" => "bfh-selectbox", :href => "#", :role => "button"}
    %span.bfh-selectbox-option.input-medium{"data-option" => ""}
    %b.caret
  .bfh-selectbox-options
    %input.bfh-selectbox-filter{:type => "text"}/
    %div{:role => "listbox"}
      %ul{:role => "option"}
