%h2
  %span.label.label-info= "Cities of #{@country.name}"
%hr
.row
  - @cities.each do |city|
    .col-md-12.panel.panel-default
      %h4.pull-left= link_to city.name, city_path(city)

= paginate @cities
